<div class="well sidebar-nav">
    <ul class="nav nav-list">
        <li class="nav-header">Admin Menu</li>
        <li class="active"><a href="#">Dashboard</a></li>
        <li><a href="#">This menu will be different for each user level</a></li>
        <li><a href="#">Something else</a></li>
        <li><a href="#">Another Link</a></li>
        <li class="nav-header">Reports</li>
        <li><a href="#">Billing</a></li>
        <li><a href="#">Receiving</a></li>
        <li><a href="#">Some other reports?</a></li>

    </ul>
</div><!--/.well -->