<div class="well sidebar-nav">
    <ul class="nav nav-list">
        <li class="nav-header">Admin Menu</li>
        <li><a href="#">This menu will be different for each user level</a></li>

        <li class="nav-header">Data Administration</li>
        <li><a href="#">Wings</a></li>
        <li><a href="#">Circles</a></li>
        <li><a href="#">Districts</a></li>
        <li><a href="#">Divisions</a></li>
        <li><a href="#">Sub Divisions</a></li>
        <li><a href="#">Blocks</a></li>
        <li><a href="#">Panchayats</a></li>
        <li><a href="#">Villages</a></li>
        <li><a href="#">Habitations</a></li>
        <li><a href="#">Consumers</a></li>
    </ul>
</div><!--/.well -->